server:
  port: 8000
  undertow:
    threads:
      io: 4
      worker: 64

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://postgres:5432/ordersdb}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
      connection-timeout: 5000
      idle-timeout: 600000
      max-lifetime: 1800000
  main:
    banner-mode: off
  jackson:
    default-property-inclusion: non_null

logging:
  level:
    root: ERROR
