server:
  port: 8000

spring:
  r2dbc:
    url: ${R2DBC_URL:r2dbc:postgresql://db:5432/ordersdb}
    username: ${DB_USER:apiuser}
    password: ${DB_PASSWORD:apipassword}
    pool:
      initial-size: 20
      max-size: 50
      max-idle-time: 30m
  main:
    banner-mode: off
  jackson:
    default-property-inclusion: non_null

logging:
  level:
    root: ERROR
